# Most/all of this is ripped off Bukkit :D

# JARs shouldn't be under SCM
*.jar

# Chris Wong's Super Awesome Dependency Downloader
*.log

# Eclipse stuff
/.classpath
/.project
/.settings

# NetBeans
/nbproject

# Maven
/build.xml
/target

# vim
.*.sw[a-p]

# Various other potential build files
/build
/bin
/dist
/manifest.mf

# Mac filesystem dust
/.DS_Store
