html {
  background: #ff9;
}

body {
  margin: 0;
  padding: 0;
}

div#container {
  max-width: 50em;
  margin: 0 auto;
  font: 100%/150% Georgia, serif;
}

a {
  text-decoration: none;
}

a:link {
  color: #f30;
}

a:visited {
  color: #d80;
}

a:hover, a:active {
  color: #fa0;
}

header {
  position: relative;
  min-height: 4em;
  margin-bottom: 1em;
  padding: 0 1em;
  background: white;
  border: 2px solid #ff3;
}

header h1 {
  margin: 0.5em 0 0;
  line-height: 100%;
}

header h1 img {
  position: absolute;
  left: -2.8em;
  top: -2px;
  width: 2em;
  height: 2em;
  border: 2px solid #ff3;
}

div#main {
  padding: 1em 1em 0;
  background: white;
  border: 2px solid #ff3;
}

div#main h2 {
  margin-top: 2.5em;
  border-bottom: 2px solid #ff3;
}

div#main h2:first-child {
  margin-top: 0;
}

div#main h3 {
  margin-top: 2em;
  margin-bottom: 0.5em;
  font-size: 112.5%;
}

div#main p {
  margin: 0 0 1em;
}
